
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BoardGame

<h2>Delete Board Game</h2>
<div>
    <div>
        <h2>@Model.Title</h2>
        <h1>@Model.Price.ToString("c")</h1>
    </div>
    <form id="@Model.BoardGameID" asp-action="PutInCart" asp-controller="Cart" asp-for="BoardGameID">
        <h3> @Model.Seller</h3>
        <h3>@Model.Genre</h3>
        <button type="submit">Put this game in Cart</button>\
        <button type="button" onclick="window.location.href='../Games/ItemsList'">Back</button>
    </form>

</div>
