
@{
    ViewData["Title"] = "ItemsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Board Games in Our Inventory</h2>

@model IEnumerable<BoardGame>


    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Seller</th>
                <th>Price</th>
                <th>Genre</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BoardGame obj in Model)
            {
                <form id="@obj.BoardGameID" asp-action="Item" asp-controller="Games" method="post">
                    <input type="hidden" asp-for="FirstOrDefault(gameId => gameId.BoardGameID == obj.BoardGameID).BoardGameID" />
                    <tr>
                        <td>@obj.Title</td>
                        <td>@obj.Seller</td>
                        <td>@obj.Price.ToString()</td>
                        <td>@obj.Genre</td>
                        <td><button type="submit" value="@obj.Title">Details</button></td>
                    </tr>
                </form>
            }

        </tbody>
    </table>

