
@{
    ViewData["Title"] = "Item";
}
@model BoardGame
<div>
    <div>
        <h2>@Model.Title</h2>
        <h1>@Model.Price.ToString("c")</h1>
    </div>
    <form id="@Model.BoardGameID" asp-action="PutInCart"
          asp-controller="Shop" method="post">
        <input type="hidden" asp-for="BoardGameID" />
        <input type="hidden" name="returnUrl"
               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <h3> @Model.Seller</h3>
        <h3>@Model.Genre</h3>
        <button type="submit">Put this game in Cart</button>
    </form>
    <br>
    <form asp-action="EditBoardGame" asp-controller="Admin"
          asp-route-boardgameId="@Model.BoardGameID" method="post">
        <button type="submit" value="BoardGameID">Edit</button>

    </form>
    <br>
    <form asp-action="RemoveBoardGame" asp-controller="Admin"
          asp-route-boardgameId="@Model.BoardGameID" method="post">
        <button type="submit" value="BoardGameID">Delete</button>
    </form>
    <br>
    <button type="button" onclick="window.location.href='../Games/ItemsList'">Back</button>

</div>